<h2>Yeni Geri Bildirim</h2>

<form method="post">
    <div>
        <label>Ad:</label>
        <input type="text" name="Name" required />
    </div>
    <div>
        <label>Email:</label>
        <input type="email" name="Email" required />
    </div>
    <div>
        <label>Mesaj:</label>
        <textarea name="Message" required></textarea>
    </div>
    <button type="submit">Kaydet</button>
</form>

<a href="/Home/Index">Geri Dön</a>
